<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="name" value="#{appSettings:name}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="environment" value="#{appSettings:environment}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="#{connectionStrings:Default}" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <pcf xdt:Transform="Replace">
    <organization name="#{pcf:organization:name}">
      <space name="#{pcf:organization:space:name}">
        <app name="#{pcf:organization:space:app:name}" />
        <service name="#{pcf:organization:space:service:name}" />
      </space>
      <quota disk="#{pcf:organization:quota:disk}" ram="#{pcf:organization:quota:ram}" />
    </organization>
  </pcf>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint name="IWcfService"
        address="#{client:IWcfService:address}"
        binding="#{client:IWcfService:binding}"
        contract="Pcf.Config.WebConfigTransformBuildpack.Services.IWcfService"  />
    </client>
  </system.serviceModel>
</configuration>